.home {
  flex: 0.65;
  display: grid;
  place-items: center;
  color: white;
  background-color: rgb(48, 48, 48);
}

.home__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home__container > .MuiSvgIcon-root {
  height: 200px !important;
  width: 200px !important;
  margin-bottom: 40px !important;
}
