.sidebarChat {
  display: flex;
  padding: 20px;
  cursor: pointer;
}

.sidebarChat:hover {
  background-color: var(--dark-purple);
}

.sidebarChat-open > .sidebarChat {
  background: var(--light-purple);
}

.sidebarChat__info {
  margin-left: 15px;
  width: 100%;
  position: relative;
}

.sidebarChat__info > h2 {
  font-size: 16px;
  margin-bottom: 8px;
  color: white;
  font-weight: 600;
}

.sidebarChat__info-unread > h2 {
  font-weight: 800;
}

.sidebarChat__info > p {
  color: var(--sidebar-lastMsg);
}

.sidebarChat__timestamp {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 13px;
  color: var(--sidebar-lastMsg);
}
