.sidebar {
  flex: 0.35;
  display: flex;
  min-width: 305px;
  overflow-x: hidden;
}

.sidebar__search {
  display: flex;
  align-items: center;
  background-color: var(--purple);
  height: 59px;
  padding: 10px;
  border-style: solid;
  border-color: var(--dark-purple);
  border-width: 1px 0;
}

.sidebar__searchContainer {
  display: flex;
  align-items: center;
  background-color: var(--dark-purple);
  width: 100%;
  height: 35px;
  border-radius: 20px;
}

.sidebar__searchContainer > .MuiSvgIcon-root {
  color: grey;
  margin: 10px;
}

.sidebar__searchContainer > input {
  border: none;
  margin-left: 10px;
  outline: none;
  flex: 1;
  background-color: var(--dark-purple);
  color: white;
  font-size: 1rem;
}

.sidebar__header {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  background: var(--dark-purple);
}

.sidebar__header .MuiSvgIcon-root {
  color: var(--sidebar-lastMsg);
}

.sidebar__header .MuiAvatar-root {
  cursor: pointer;
}

.onlineColor {
  color: #44b700;
}

.awayColor {
  color: #f04848;
}

.offlineColor {
  color: #727272;
}

.onlineBackground > .MuiBadge-badge {
  background-color: #44b700;
}

.awayBackground > .MuiBadge-badge {
  background-color: #f04848;
}

.offlineBackground > .MuiBadge-badge {
  background-color: #727272;
}

.sidebar__avatarBadgeRipple > .MuiBadge-badge::after {
  animation: ripple 1.2s infinite ease-in-out;
  border: 1px solid #44b700;
}

@keyframes ripple {
  0% {
    transform: scale(0.8);
    opacity: 1;
  }
  100% {
    transform: scale(2.4);
    opacity: 0;
  }
}

.sidebar__headerRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 10vw;
}

.sidebar__headerRight > .MuiSvgIcon {
  margin-right: 2vw;
  font-size: 24px !important;
}

.sidebar__body {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.sidebar__chats {
  background: var(--purple);
  flex: 1;
  overflow-y: scroll;
}

.sidebar__drawerHeader {
  padding-top: 45px;
  padding-bottom: 5px;
  background: var(--dark-purple);
}

.sidebar__drawerHeader * {
  color: white !important;
}

.sidebar__drawerHeader > .MuiTypography-root {
  margin-left: 20px;
  font-size: 1.2rem;
}
