.chatMessage {
  position: relative;
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--recievedMsg-bg);
  width: fit-content;
  margin-bottom: 30px;
}

.app-dark .chatMessage {
  background-color: var(--chatMsg-bg-dm);
  color: white;
}

.chatMessage__userMessage {
  margin-left: auto;
  background-color: var(--userMsg-bg) !important;
  color: white;
}

.chatMessage__name {
  position: absolute;
  width: max-content;
  top: -15px;
  font-weight: 800;
  font-size: 10px;
}

.chatMessage__timestamp {
  margin-left: 10px;
  font-size: 10px;
}
