.app {
  background-color: #dadbd3;
  height: 100vh;
  display: flex;
}

.app__body {
  flex: 1;
  display: flex;
  background-color: white;
  height: 100%;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.7);
}
